*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  background-image: url("../../assets/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.2vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.home::after{
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
  clip-path: polygon(100% 76%, 0% 100%, 100% 100%);
  max-width: 100%;
}